.nav {
    float: left;
    position: fixed;
    top: 30%;
    left: 0;
    background: transparent;
    z-index: 1000;
}

.icon{
    color:white;
}

.nav .ul {
    text-align: center;
    list-style: none;
    padding-left: 0;
    
}

.nav .ul .li {
    position: relative;
    width: 70px;
    cursor: pointer;
    background: #9f5252;
    text-transform: uppercase;
    transition: all .4s ease-out;
    border-bottom: 1px solid white;
}

.nav .ul .li:after {
    position: absolute;
    background: rgb(229, 188, 188);
    color: white;
    top: 0;
    left: 70px;
    width: 70px;
    height: 100%;
    opacity: .5;
    transform: perspective(400px) rotateY(90deg);
    transform-origin: 0 100%;
    transition: all .4s ease-out;
}

.nav .ul .li:nth-child(1):after {
    content: "About";
    line-height: 75px;
    font-size: 15px;
}

.nav .ul .li:nth-child(2):after {
    content: "Skills";
    line-height: 75px;
    font-size: 15px;
}

.nav .ul .li:nth-child(3):after {
    content: "Journey";
    line-height: 75px;
    font-size: 15px;
}

.nav .ul .li:nth-child(4):after {
    content: "Say hi";
    line-height: 75px;
    font-size: 15px;
}

.nav .ul .li:nth-child(4) {
    border-bottom: none !important;
}

.nav .ul .li:hover {
    transform: translateX(-70px);
}

.nav .ul .li:hover:after {
    opacity: 1;
    transform: perspective(400px) rotateY(0deg) scale(1);
}

.nav .ul .li>div {
    display: inline-block;
    padding: 25px 0;
    background: transparent;
}

@media(max-width:768px){
    .nav {
        display: none;   
    }
}