.animated {
  position: absolute;
  margin: 15px auto auto auto;
  right: 0;
  left: 0;
  // bottom: 50px;
  height: 4px;
  width: 4px;
  border-radius: 2px;
  background: transparent;
  animation-duration: 4.5s;
  animation-iteration-count: infinite;
}

.animated::after {
  position: absolute;
  top: 40px;
  content: '';
  height: 30px;
  width: 4px;
  border-radius: 2px;
  background: rgb(122, 79, 79);
  right: -10px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.animated::before {
  position: absolute;
  top: 40px;
  content: '';
  height: 30px;
  width: 4px;
  border-radius: 2px;
  background: rgb(122, 79, 79);
  left: -10px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.anime {
  display: inline;
}

.bounce {
  animation: bounce 3s infinite;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

@media (max-width: 1000.98px) {
  .arrowBounce {
    display: none;
  }
}